{% extends 'base.html.twig' %}

{% block body %}
    {% for i in 0..10 %}
        {% if (i % 2) == 0 %}
            <div class="row">
        {% endif %}

    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ i % 2 }}Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>



        {% if (i % 2) == 0 and i != 0 %}
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}