{% extends 'base.html.twig' %}

{% block body %}
    <h2>Intégration</h2>

    <ul>
        <li>
            Page d'accueil
        </li>
        <li>
            <a href="{{ path('app_shops_list') }}">Liste des commerces</a>
        </li>
    </ul>
{% endblock %}